<!DOCTYPE html>
<html>
<head>
	<meta
		name="viewport"
		content="initial-scale=1, maximum-scale=1, user-scalable=no"
	/>
	<link rel="stylesheet" href="libs/angular-material/angular-material.css">
</head>
	<body ng-app="app">

	<md-content>
    <md-toolbar>
      <h2 class="md-toolbar-tools">
        Danny's Acronym Finder
      </h2>
    </md-toolbar>
  </md-content>

	<!--
	<md-content md-theme="light-blue-dark">
    <form style="padding: 20px;">
      <div class="row">
        <md-text-float label="Title" ng-model="user.title"></md-text-float>
        <md-text-float label="eMail" ng-model="user.email" type="email"></md-text-float>
      </div>
    </form>
  </md-content>
  -->

  <md-content>
  	<div layout="row">
  		<div flex="50" flex-offset="50" flex-sm="95">
	  		asdflasdf laksdjf lkasj dflkasj dflaskjdf lasjdflaskj dflj
	  		alsdkfj laskdfj laskdjf laskjdfl askdfjlas dfjaskjdflaskj dflaskdfj
	  		asdfj asldfjkalsdfk asldfjlasjd flasdfjlas djkflasjd flasjkdf laskjfd 
	  		lasdjkf laskjdf lasjd flkj
  		</div>
  	</div>
  </md-content>

<!--   <md-content>
    <md-card flex="50">
    	<p>asdlfjkasf</p>
    </md-card>
  </md-content> -->

	<!--
	<div ng-controller="myCtrl as foo">
		<p ng-bind="foo.msg"></p>
	</div>
	-->

	<script src="libs/angular/angular.js"></script>
	<script src="libs/angular-aria/angular-aria.js"></script>
	<script src="libs/angular-animate/angular-animate.js"></script>
	<script src="libs/hammerjs/hammer.js"></script>
	<script src="libs/angular-material/angular-material.js"></script>
	<script>

		// Include app dependency on ngMaterial

		angular.module( 'app', [ 'ngMaterial' ] )
		.controller('myCtrl', function () { 'use strict';
			this.msg = 'hello world';
		})
		.controller('AppCtrl', function($scope, $timeout, $mdSidenav) {
		  $scope.toggleLeft = function() {
		    $mdSidenav('left').toggle();
		  };
		  $scope.toggleRight = function() {
		    $mdSidenav('right').toggle();
		  };
		})
		.controller('LeftCtrl', function($scope, $timeout, $mdSidenav) {
		  $scope.close = function() {
		    $mdSidenav('left').close();
		  };
		})
		.controller('RightCtrl', function($scope, $timeout, $mdSidenav) {
		  $scope.close = function() {
		    $mdSidenav('right').close();
		  };
		});

	</script>

</body>
</html>